TrabajoPractico-2/Debug/
TrabajoPractico-2/Release/

TrabajoPractico-2/Ventana-SFML/Debug/
TrabajoPractico-2/Ventana-SFML/Release/

TrabajoPractico-2/Ventana-SFML/x64/Debug/
TrabajoPractico-2/Ventana-SFML/x64/Release/

TrabajoPractico-2/x64/Debug/
TrabajoPractico-2/x64/Release/

TrabajoPractico-2/TrabajoPractico-2\.VC\.db
